<meta property="og:title" content="astolfo is hot">
<meta property="twitter:title" content="astolfo is hot">
<meta property="og:description" content="Anything > sxcu.net">
<meta property="twitter:description" content="Anything > sxcu.net"><meta property="og:url" content="https://127.0.0.1:1337/FQ0WUglw">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="https://127.0.0.1:1337/i/FQ0WUglw.png">
<meta property="og:image:secure_url" content="https://127.0.0.1:1337/i/FQ0WUglw.png">
<meta property="og:image:url" content="https://127.0.0.1:1337/i/FQ0WUglw.png">
<meta name="theme-color" content="#362d88">
<h1>bad at css</h1>
<a href=https://127.0.0.1:1337/i/FQ0WUglw.png>File here</a>